@use '../../general.scss'as *;

.c-banner{
    @extend %center;
    padding: 80px 0;
    background: $colorBlue;
    background-image: radial-gradient(at top right, $colorLightBlue 11%, $colorBlue 49%);

    h1{
        font-size: 50px;
        color: $colorWhite;
    }
}